name: Build and Test

on: [push, pull_request]

jobs:
  build_wheels:
    env:
      CIBW_BEFORE_ALL_LINUX: /opt/python/cp38-cp38/bin/python -m pip install cmake && cp /opt/python/cp38-cp38/bin/cmake /usr/bin/cmake && mkdir temp && curl -L https://github.com/protocolbuffers/protobuf/releases/download/v3.13.0/protobuf-all-3.13.0.tar.gz -o protobuf.tar.gz && tar xf protobuf.tar.gz -C temp && rm -rf protobuf.tar.gz && cd temp/* && mkdir cmake/build && cd cmake/build && cmake -Dprotobuf_BUILD_TESTS=OFF -DBUILD_SHARED_LIBS=OFF -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DCMAKE_BUILD_TYPE=Release .. && cmake --build . -j4 && cmake -P cmake_install.cmake && cd ../../../.. && rm -rf temp
      CIBW_BEFORE_ALL_MACOS: pip install cmake && git clone https://github.com/protocolbuffers/protobuf.git && cd protobuf && git checkout v3.13.0 && cd cmake && mkdir build && cd build && cmake -Dprotobuf_BUILD_TESTS=OFF -Dprotobuf_BUILD_EXAMPLES=OFF -DBUILD_SHARED_LIBS=OFF -DCMAKE_POSITION_INDEPENDENT_CODE=ON -DCMAKE_BUILD_TYPE=Release .. && cmake --build . -j4 && cmake -P cmake_install.cmake
      CIBW_BEFORE_ALL_WINDOWS: git clone https://github.com/protocolbuffers/protobuf.git && cd protobuf && git checkout v3.13.0 && cd cmake && mkdir build && cd build && cmake -G "Visual Studio 15 2017 Win64" -Dprotobuf_MSVC_STATIC_RUNTIME=OFF -Dprotobuf_BUILD_TESTS=OFF -Dprotobuf_BUILD_EXAMPLES=OFF -DCMAKE_INSTALL_PREFIX=C:/protobuf_install -DBUILD_SHARED_LIBS=OFF -DCMAKE_POSITION_INDEPENDENT_CODE=ON .. && cmake --build . --config Release -j4 && cmake -P cmake_install.cmake --config Release
      CIBW_TEST_REQUIRES: pytest==5.4.3 nbval flake8 mypy
      CIBW_TEST_COMMAND: cd {project} && flake8 && ! grep -R --include='*.cc' --include='*.h' 'namespace onnx' . && ! grep -R --include='*.cc' --include='*.h' 'onnx::' . && python setup.py typecheck && pytest
      CIBW_ENVIRONMENT: CMAKE_ARGS="-DONNX_USE_PROTOBUF_SHARED_LIBS=OFF -DProtobuf_USE_STATIC_LIBS=ON -DONNX_USE_LITE_PROTO=ON"
      CIBW_ENVIRONMENT_WINDOWS: CMAKE_PREFIX_PATH=C:/protobuf_install USE_MSVC_STATIC_RUNTIME=0
      # Only build on Python 3 and skip 32-bit builds
      CIBW_BUILD: cp3?-*
      CIBW_SKIP: "*-win32 *-manylinux_i686"
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-16.04, vs2017-win2016, macos-10.14]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: actions/setup-python@v2
      name: Install Python
      with:
        python-version: '3.7'
    - name: Build wheels
      run: |
        python -m pip install --upgrade pip
        python -m pip install cibuildwheel==1.5.5
        cibuildwheel --output-dir wheelhouse .
    - uses: actions/upload-artifact@v2
      with:
        path: ./wheelhouse/*.whl
